<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Template</title>

    <!--Firebase Libraries-->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-database.js"></script>

    <!--Firebase Configuration-->
    <script src="RELATIVE PATH"></script>

</head>
<body>
    <button onclick="test()">Test</button>
    
    <!--Firebase JS files-->
    <script src="RELATIVE PATH"></script>
</body>
</html>